<fancy-header> </fancy-header>

<div class="page">

    <div id="main-app" (scroll)="onScroll($event)">

        <div class="empty"></div>

        <div id="main-content">
            <div id="left-side">
                <ul id="main-tags">
                    <li class="tag"> <a [routerLink]="['/popular']"> Popular </a>  </li>
                    <li class="tag"> <a [routerLink]="['/tag', 'man']"> Man </a> </li>
                    <li class="tag">  <a [routerLink]="['/tag', 'Woman']"> Woman </a> </li>
                    <li class="tag">  <a [routerLink]="['/tag', 'Art']"> Art </a> </li>
                    <li class="tag">  <a [routerLink]="['/tag', 'Gadgets']"> Gadgets </a> </li>
                    <li class="tag">  <a [routerLink]="['/tag', 'Pets']"> Pets </a> </li>
                    <li class="tag">  <a [routerLink]="['/tag', 'Food']"> Food </a> </li>
                    <li class="tag">  <a [routerLink]="['/tag', 'Workspace']"> Workspace </a> </li>
                </ul>
            </div>

            <div class="router-content">
                <router-outlet></router-outlet>
            </div>

            <div id="right-side">
                <popular> </popular>
                <stores> </stores>
            </div>
        </div>

        <div class="empty"></div>
    </div>
</div>
