.page {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#main-app {
    display: flex;
    position: relative;
    overflow-y: auto;
}

#main-content {
    flex: 0 0 1200px;
    display: flex;
    flex-direction: row;
}

#left-side {
    flex: 0 0 240px;
}

.router-content {
    flex : 0 0 700px;
}

#right-side {
    flex: 0 0 200px;
}

.empty {
    flex: 1 2;
}

#main-tags {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    /*position: fixed;*/
}

.tag {
    flex: 1;
    color: #4F535A;
    font-size: 14px;
}
