
<div class="page">
    <fancy-header> </fancy-header>

    <div id="main-app" (scroll)="onScroll($event)">

        <div class="empty"></div>

        <div id="main-content">
            <div id="left-side">
                <tags-list> </tags-list>
                <stores> </stores>
            </div>

            <product-list> </product-list>

            <div id="right-side">

                <popular> </popular>
                <cart> </cart>
            </div>
        </div>

        <div class="empty"></div>
    </div>
</div>