<form class="login-form" (ngSubmit)="onSubmit(); registrationForm.reset();" #registrationForm="ngForm" >
    <input type="text" placeholder="Login" name="username" [(ngModel)]="username" required>
    <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
    <input type="password" placeholder="Password" name="password_confirmation" [(ngModel)]="password_confirmation" required>

    <div class="slide-store">
        <div class="slide">
            <input type="checkbox" value="store" id="slideStore" name="check" [(ngModel)]="store" />
            <label for="slideStore"></label>
        </div>
        <div class="label"> Store</div>
    </div>

    <div class="slide-admin">
        <div class="slide">
            <input type="checkbox" value="admin" id="slideAdmin" name="check" [(ngModel)]="admin" />
            <label for="slideAdmin"></label>
        </div>
        <div class="label"> Admin</div>
    </div>




    <button type="submit" [disabled]="registrationForm.form.invalid"> Registration </button>
</form>
