<div id="myModal" class="modal" [class.hide]="!show_modal"  >
    <div class="modal-blur" (click)="onOff()"  > </div>
    <div class="modal-content">
        <span class="close" (click)="onOff()">&times;</span>
        <form class="product-form" (ngSubmit)="onSubmit(); productForm.reset();" #productForm="ngForm" enctype="multipart/form-data" >
            <input type="text" placeholder="Title" name="title" [(ngModel)]="title" required>
            <textarea placeholder="Description" name="description" [(ngModel)]="description" rows="6" required > </textarea>
            <input type="text" placeholder="Price" name="price" [(ngModel)]="price" required>
            <input type="text" placeholder="Tags" name="tags" [(ngModel)]="tags" required>

            <div class="file-upload" >
                <div  class="name-file-upload">Main Photo</div>
                <img *ngIf="imageMainSrc" class="main-photo" [src]="imageMainSrc" />
                <input type="file" name="mainPhoto"  (change)="onChangeMain($event)" />
            </div>
            <br >
            <div class="file-upload" >
                <div  class="name-file-upload">More Photos</div>
                <input type="file" name="descriptionPhoto" (change)="onChangeDescription($event)" multiple />
            </div>
            <div class="description-imgs">
                <img class="description-photo" *ngFor="let photo of imageDescriptionSrc" [src]="photo" />
            </div>

            <button type="submit" [disabled]="productForm.form.invalid"> Add </button>
        </form>
    </div>
    <div class="modal-blur" (click)="onOff()"  > </div>
</div>
