<div id="myModal" class="modal" [class.hide]="!show_modal"  >

    <div class="modal-content">
        <span class="close" (click)="onOff()">&times;</span>


        <form class="product-form" (ngSubmit)="onSubmit(); productForm.reset();" #productForm="ngForm" enctype="multipart/form-data" >
            <input type="text" placeholder="Title" name="title" [(ngModel)]="title" required>
            <textarea placeholder="Description" name="description" [(ngModel)]="description" rows="6" required > </textarea>
            <input type="text" placeholder="Price" name="price" [(ngModel)]="price" required>
            <input type="text" placeholder="Tags" name="tags" [(ngModel)]="tags" required>

            <input type="file" name="mainPhoto"  (change)="onChangeMain($event)" />
            <img *ngIf="imageMainSrc" class="main-photo" [src]="imageMainSrc" />
            <br >
            <input type="file" name="descriptionPhoto" (change)="onChangeDescription($event)" multiple />
            <img class="description-photo" *ngFor="let photo of imageDescriptionSrc" [src]="photo" />

            <button type="submit" [disabled]="productForm.form.invalid"> Add </button>
        </form>



    </div>

</div>
