ul {
    max-height: 300px;
    overflow: auto;
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#cart {
    display: flex;
    /*margin-top: 20px;*/
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    flex-direction: column;
    align-content: space-around;
    /*position: fixed;*/

    width: 300px;
}

.sum {
    text-align: center;
    flex: 1;
}
.title {
    flex: 0 0 150px;
    width: 150px;
    overflow: hidden;
    word-wrap: break-word;
}

.price {
}

hr {
    width: 90%;
    border: none;
    color: lightgray;
    background-color: lightgray;
    height: 1px;
}

.btn-pay {
    flex: 1;
    padding: 10px;
    cursor: hand;
    background-color: #4CAF50;
    display: inline-block;
    text-align: center;
}

.pay-block {
    display: flex;
    align-items: center;
}