#main-stores {
    list-style-type: none;
    background-color: white;
    width: 300px;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 200px;*/
    /*position: fixed;*/
}

.info {
    padding: 10px;
    font-size: 14px;
}

.store {
    flex: 1;
    color: #4F535A;
    margin: 10px;
}

.store-info {
    display: flex;
    align-items: center;
    cursor: hand;
}

.store:hover .store-info {
    color: #139890;
}

.store:hover .avatar {
    border: 2px solid #139890;
}

.avatar {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    /*object-fit: contain;*/
    border-radius: 50px;
    flex: 0 0 40px;
    border: 2px solid white;
}

.product-main-image {
    margin: 2px;
    width: 66px;
    height: 66px;
    /*object-fit: contain;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.product-main-image:first-child {
    margin-left: 5px;
}

hr {
    width: 90%;
    border: none;
    color: lightgray;
    background-color: lightgray;
    height: 1px;
}