<div class="product">
    <img class="product-main-image" [src]="'/images/' + product._id + '/' + product.mainPhoto" (click)="modalOn()" />
    <div class="product-info">
        <div class="product-left-info">
            <div class="product-title"  (click)="modalOn()"> {{ product.title }} </div>
            <div class="product-tags"   (click)="modalOn()"> <span class="tag" *ngFor="let tag of product.tags" > {{tag}} </span> </div>
            <div class="product-like">
                <div class="btn-like" (click)="onLike()"> <span class="like-icon">❤</span> {{ product.user_likes.length }} </div>
                <div class="user-avatars">
                    <img class="avatar" *ngFor="let user of product.user_likes.reverse()" [src]="'/images/users/' + user + '/avatar.jpg'" />
                </div>
            </div>
        </div>
        <div class="product-price" (click)="onAddToCart()"> ${{ product.price }} </div>
    </div>
</div>

<modal-showp [product]="product" [show_modal]="show_modal" (modalOff)="modalOff()" >  </modal-showp>