<div class="product" (click)="modalOn()">
    <img class="product-main-image" [src]="'/images/' + product._id + '/' + product.mainPhoto" />
    <div class="product-info">
        <div class="product-left-info">
            <div class="product-title"> {{ product.title }}</div>
            <div class="product-tags"> {{ product.tags }} </div>
            <div class="product-like">
                <div class="btn-like"> <3 {{ product.user_likes.length }} </div>
                 <!--users avatar-->
            </div>
        </div>
        <div class="product-price"> ${{ product.price }} </div>
    </div>
</div>

<modal-showp [product]="product" [show_modal]="show_modal" (modalOff)="modalOff()" >  </modal-showp>