.product {
    width: 100%;
}

.product-info {
    width: 100%;
    height: 140px;
    background-color: white;
}

.product-main-image {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.product-info {
    display: flex;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-left-info {
    flex: 1;
    margin-top: 20px;
    margin-left: 20px;
}

.product-title {
}

.product-tags {
    font-size: 14px;
    margin: 5px 0;
}

.product-tags a {
    text-decoration: none;
    color: grey;
}

.product-like {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.user-avatars {
    height: 62px;
}

.like-icon {
    font-size: 20px;
}

.btn-like {
    flex: 0 0 50px;
    width: 40px;
    font-size: 20px;
    padding: 5px;
    margin: 15px 10px 15px 0;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 3px;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-like:hover {
    background-color: rgba(30, 144, 255, 0.2);
}

.product-price {
    /*flex: 1;*/
    font-size: 14px;
    text-align: right;
    align-self: flex-start;
    padding: 8px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 3px;

    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-price:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px -10px 10px 0;
    border: 2px solid white;
}

.tag {
    border: 1px solid darkgrey;
    background-color: #fbfbfb;
    border-radius: 3px;
    padding: 3px;
    margin: 0 3px;
    cursor: hand;
}

.tag:hover, .tag:active {
    background-color: #ebebeb;
}

.tag:first-child {
    margin: 0;
}