<div class="product">
    <img class="product-main-image" [src]="'/images/' + product._id + '/' + product.mainPhoto" (click)="modalOn()" />
    <div class="product-info">
        <div class="product-left-info">
            <div class="product-title"  (click)="modalOn()"> {{ product.title }} </div>
            <div class="product-tags"   (click)="modalOn()"> {{ product.tags }} </div>
            <div class="product-like">
                <div class="btn-like" (click)="onLike()"> <3 {{ product.user_likes.length }} </div> <!--click like-->
                 <!--users avatar-->
            </div>
        </div>
        <div class="product-price" (click)="onAddToCart()"> ${{ product.price }} </div>
    </div>
</div>

<modal-showp [product]="product" [show_modal]="show_modal" (modalOff)="modalOff()" >  </modal-showp>