#main-popular {
    /*list-style-type: none;*/
    background-color: white;
    width: 300px;
    margin-top: 20px;
}

.popular-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-main-image {
    margin: 5px;
    width: 90px;
    height: 90px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.info {
    padding: 10px;
    font-size: 14px;
}
