 <div id="myModal" class="modal" [class.hide]="!show_modal"  >
    <div class="modal-blur" (click)="onOff()"  > </div>
    <div class="modal-content">
        <span class="close" (click)="onOff()">&times;</span>
        <div class="product-content">

            <div class="product-photos">
                <div class="imgs-menu">
                    <img class="description-photo"  [src]="'/images/' + product._id + '/' + product.mainPhoto" (click)="showPhoto(product.mainPhoto)" />
                    <img class="description-photo" *ngFor="let photo of product.descriptionPhoto" [src]="'/images/' + product._id + '/' + photo" (click)="showPhoto(photo)" />
                </div>
                <img class="product-main-image" [src]="'/images/' + product._id + '/' + main_img" />
            </div>

            <div class="product-info">
                <div class="product-left-info">
                    <div class="product-title"> {{ product.title }}</div>
                    <div class="product-tags"> {{ product.tags }} </div>
                    <div class="product-description"> {{product.description}} </div>
                </div>
                <div class="product-price"> ${{ product.price }} </div>
            </div>
        </div>
    </div>
    <div class="modal-blur" (click)="onOff()"  > </div>
</div>
