.product {
    width: 550px;
}

.product-info {

    background-color: white;
}

.product-photos {
    display: flex;
}

.product-main-image-block {
    width: 650px;
    height: 650px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f2f2f2;
}

.product-main-image {
    object-fit: contain;
    width: inherit;
    height: inherit;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.left-arrow, .right-arrow {
    font-size: 36px;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.5);
    width: 30px;
    cursor: hand;
    position: fixed;
    margin-top: 290px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right-arrow {
    margin-left: 580px;
}

.left-arrow:hover, .right-arrow:hover {
    background-color: rgba(211, 211, 211, 0.7);
}

.description-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.imgs-menu {
    height: 650px;
    overflow: auto;
}

.product-info {
    display: flex;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 3%;
}

.product-left-info {
    flex: 1;
    margin-top: 20px;
    margin-left: 20px;
}

.product-title {
}

.product-tags {
    font-size: 13px;
    margin: 5px 0;
}

.product-like {
    flex: 1;
}

.btn-like {
    width: 40px;
    font-size: 14px;
    padding: 5px;
    margin: 15px 0;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 3px;
    cursor: hand;
}

.btn-like:hover {
    background-color: rgba(30, 144, 255, 0.2);
}

.product-price {
    font-size: 14px;
    text-align: right;
    align-self: flex-start;
    padding: 8px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: hand;
}

.product-price:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.product-description {
    flex: 2;
    white-space: pre-wrap;
    margin-top: 20px;
}
