.product {
    width: 550px;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info {

    background-color: white;
}

.product-main-image {
    object-fit: contain;
    width: 600px;
    height: 600px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-block;
}

.product-info {
    display: flex;
    padding: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-left-info {
    flex: 1;
    margin-top: 20px;
    margin-left: 20px;
}

.product-title {
}

.product-tags {
    font-size: 13px;
    margin: 5px 0;
}

.product-like {
    flex: 1;
}

.btn-like {
    width: 40px;

    font-size: 14px;
    padding: 5px;
    margin: 15px 0;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 3px;
}

.product-price {
    /*flex: 1;*/
    font-size: 14px;
    text-align: right;
    align-self: flex-start;
    padding: 8px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

.description-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;

}

.description-imgs {
    display: flex;
    flex-wrap: wrap;
}

.imgs-menu {
    flex: 1;
    /*display: inline-block;*/
    width: 305px;
}

.product-description {
    flex: 2;
    white-space: pre-wrap;
    /*display: inline-block;*/
}