<div class="header-box">
    <div class="empty"></div>
    <div class="header-menu">
    </div>
    <div id="logo">
        Fancy
    </div>
    <div class="header-menu">
        <span *ngIf="!userService.user || userService.user._id == undefined">
            <span class="auth-type" (click)="modalLROn()" (click)="switchLogin(false)">Registration </span> |
            <span class="auth-type" (click)="modalLROn()" (click)="switchLogin(true)"> Login </span>
            <modal-lr [show_modal]="show_LR_modal" (modalOff)="modalLROff()" (switchLogin)="switchLogin($event)" [isLogin]="isLogin"> </modal-lr>
        </span>
        <div class="user-info" *ngIf="userService.user && userService.user._id != undefined">
            <span (click)="openCart()" class="cart-icon">C</span>
            <div class="cart-full" *ngIf="show_cart">
                <cart> </cart>
            </div>

            <span class="btn-new-post" (click)="modaNPOn()">+</span>
            <modal-np [show_modal]="show_NP_modal" (modalOff)="modalNPOff()" > </modal-np>
            <img class="avatar" [src]="'/images/users/' + userService.user._id + '/avatar.jpg'" />
            <span class="user-username"> {{ userService.user.username }} </span>
            <span (click)="logout()" > Logout </span>
        </div>
    </div>
    <div class="empty"></div>
</div>
