<div class="header-box">
    <div class="empty"></div>
    <div class="header-menu">
    </div>
    <div id="logo">
        Fancy
    </div>
    <div class="header-menu">
        <span *ngIf="!user || user._id == undefined">
            <span class="auth-type" (click)="modalOn()" (click)="switchLogin(false)">Registration </span> |
            <span class="auth-type" (click)="modalOn()" (click)="switchLogin(true)"> Login </span>
            <modal-lr [show_modal]="show_modal" (modalOff)="modalOff()" (switchLogin)="switchLogin($event)" [isLogin]="isLogin"> </modal-lr>
        </span>
        <span *ngIf="user && user._id != undefined"> {{ user.username }} | <span (click)="logout()" > Logout </span> </span>
    </div>
    <div class="empty"></div>
</div>
