<div class="header-box">
    <div class="empty"></div>
    <div class="header-menu">
    </div>
    <div id="logo">
        Fancy
    </div>
    <div class="header-menu">
        <span *ngIf="!userService.user || userService.user._id == undefined">
            <span class="auth-type" (click)="modalLROn()" (click)="switchLogin(false)">Registration </span> |
            <span class="auth-type" (click)="modalLROn()" (click)="switchLogin(true)"> Login </span>
            <modal-lr [show_modal]="show_LR_modal" (modalOff)="modalLROff()" (switchLogin)="switchLogin($event)" [isLogin]="isLogin"> </modal-lr>
        </span>
        <span *ngIf="userService.user && userService.user._id != undefined">
            <span class="btn-new-post" (click)="modaNPOn()">+</span>
            <modal-np [show_modal]="show_NP_modal" (modalOff)="modalNPOff()" > </modal-np>
            |
            {{ userService.user.username }} | <span (click)="logout()" > Logout </span>

        </span>
    </div>
    <div class="empty"></div>
</div>
