.header-box {
    display: flex;
    background-color: white;
    height: 52px;
    margin: 0;
}

.empty {
    flex: 1 2;
}

#logo {
    flex: 1 0 300px;
    align-self: center;
    text-align: center;
    font-size: 40px;
    font-family: "Papyrus", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-right: 75px;
    cursor: hand;
}

.header-menu {
    flex: 1 0 150px;
    align-self: center;
    /*text-align: right;*/
    font-size: 16px;
    color: grey;
}

.auth-type {
    cursor: hand;
}

.btn-new-post {
    padding: 5px 9px;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    cursor: hand;
    font-size: 20px;
    margin-right: 20px;
}

.btn-new-post:hover {
    background-color: rgba(0, 191, 255, 0.12);
}

.avatar {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    /*object-fit: contain;*/
    border-radius: 50px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-username {
    margin-right: 10px;
}

cart {
    display: inline-block;
}